<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reddit : Edit post</title>
    <link href="/style.css" rel="stylesheet">
</head>

<body>

<div hidden></div>
<div id="header">
    <h1>Reddit</h1>
</div>
<div id="grid-container">
    <div id="left">
        <form>
            <label for="title">Title*</label>
            <textarea id="title" rows="4" required></textarea>
            <label for="url">URL*</label>
            <textarea id="url" required></textarea>
            <button type="button" id="submit">Submit</button>
        </form>
    </div>
</div>

<script src="/edit-post.js"></script>


</body>

</html>